<% if @players.empty?%>
    <h2>There are no players currently signed up for this tournament</h2>
<% else %>

    <% unless @invalid.empty? %>
    <h2>Unable to save these players</h2>
    
        <% @invalid.each do |invalid| %>
            <p><%= invalid %></p>
        <% end %>
    <% end %>

    <h2>Currently registered users</h2>
    
    <p>Players in green are already checked in.</p>
    <ul class="player-list">
        <% @players.each do |player| %>
            <li class="<%= player.checked? ? "checked" : "unchecked" %>">
                <%= player.email %> <%= player.name %>
                <%= link_to "toggle checkin", { :controller => :admin, :action => :toggle, :id => player.id }, :class => "toggle-checkin" %>
            </li>
        <% end %>
    </ul>
<% end %>


<h3>Fill in emails to update the list of registered users</h3>

<%= form_tag '/admin/update', :method => :put do %>
    <%= text_area_tag :emails, @emails, :rows => 20, :cols => 40 %>
    <p>Clicking save will overwrite all existing players! <%= submit_tag "Save!", :confirm => "Are you sure you want to add a new list of players and remove all current check-ins?"  %></p>
    
    <p><%= link_to 'Add only ONE player', new_player_path %></p>
<% end %>