<!DOCTYPE html>
<html>
  <head>
    <title><%="#{yield(:title) + ' | ' if content_for?(:title)}SCV Rush Tournament checkin application" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      
      <h1><a href="/">SCVRush<span>.com</span> checkin</a></h1>
      <p class="scvrush-link"><a href="http://scvrush.com/">go back to scvrush.com</a></p>
      
      <!-- <%= content_tag :h1, yield(:title) if show_title? %> -->
      <%= yield %>
    </div>
  </body>
</html>
